<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UserList</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../libs/thirdpart/elementui/index.css">
    <link rel="stylesheet" href="../css/demo.css">
    <!--
    Electron 中引入jQuery的正确方式：
    记得要安装依赖
    ' npm install jquery --save '
    -->
    <style>
        
        @import '../node_modules/bulma/css/bulma.css';
        @import '../node_modules/font-awesome/css/font-awesome.min.css';
        @import '../node_modules/toastr/build/toastr.css';
    </style>
    <script>
        window.$ = window.jQuery = require('jquery');

        window.toastr = require('toastr');
        window.toastr.options = {
            closeButton: false,
            debug: false,
            progressBar: true,
            positionClass: "toast-bottom-center",
            onclick: null,
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        }
    </script>
    <script src="http.js"></script>

</head>

<body>


    <div class="content">
        <div class="tabs is-boxed">
            <ul>
                <li class="is-active" data-id="0" onclick="changeCommuncateType(this)">
                    <a>
                        <span class="icon is-small"><i class="fa-bluetooth-b" aria-hidden="true"></i></span>
                        <span>IP通讯</span>
                    </a>
                </li>
                <li data-id="1" onclick="changeCommuncateType(this)">
                    <a>
                        <span class="icon is-small"><i class="fa fa-bluetooth-b" aria-hidden="true"></i></span>
                        <span>蓝牙通讯</span>
                    </a>
                </li>
                <li data-id="2" onclick="changeCommuncateType(this)">
                    <a>
                        <span class="icon is-small"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
                        <span>实时音视频通讯</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container" id="communcateTypeDiv" style="height:600px;width:100%;overflow:auto">
            <div class="communcate_div">
                <label class="label"> 本机IP: <span id="localIP"></span></label>
                <div class="field is-grouped">

                    <p class="control">
                        <input class="input" type="text" id="ip" placeholder="通讯端ip地址" />

                    </p>
                    <p class="control">
                        <a class="button is-link is-outlined fa fa-tty" onclick="testConnect()"> 连接测试</a>
                        <a class="button is-primary is-outlined  fa fa-whatsapp" onclick="openChatWindow()"> 开始通讯</a>
                    </p>
                </div>


                <div class="field">
                    <div class="tabs is-toggle is-toggle-rounded">
                        <ul>
                            <li class="is-active" id="0" onclick="changeTab(this)">
                                <a>
                                    <span class="icon is-small"><i class="fa fa-address-book"></i></span>
                                    <span>在线列表</span>
                                </a>
                            </li>
                            <li id="1" onclick="changeTab(this)">
                                <a>
                                    <span class="icon is-small"><i class="fa fa-address-book-o"></i></span>
                                    <span>连接历史</span>
                                </a>
                            </li>

                        </ul>
                    </div>


                </div>
                <div class="container" id="ipListDiv" style="width: 90%">
                    <div class="ip_div" id="onlineIpList">

                    </div>
                    <div class="ip_div" id="chatIpHistory" style="display: none">

                    </div>
                </div>
            </div>

            <div class="communcate_div" style="display: none">

                <div class="field is-grouped">

                    <p class="control">
                        <input class="input" type="text" id="bluetoothName" placeholder="蓝牙设备名称或前缀" />

                    </p>
                    <p class="control">
                        <a class="button is-link fa fa-bluetooth" onclick="getHeartRate()"> 连接蓝牙设备</a>
                    </p>
                    <p class="control" id="bluetoothInfo"></p>
                </div>


            </div>

            <div class="communcate_div" style="display: none">

                <div id="demo_app">
                    <el-container>
                        <el-aside>
                        <el-menu>
                                <el-card shadow="never">
                                        <el-form ref="form" size="mini" label-width="70px">
                                            <el-form-item label="用户名">
                                                <el-input id="userId" v-model="userId" placeholder="请输入用户名" :disabled="inroom"
                                                    clearable autofocus>
                                                </el-input>
                                            </el-form-item>
        
                                            <el-form-item label="房间号">
                                                <el-input id="roomId" v-model="roomId" placeholder="请输入数字" :disabled="inroom"
                                                    maxlength="9" minlength="1" onkeyup="value=value.replace(/[^\d]/g,'')"
                                                    clearable autofocus></el-input>
                                            </el-form-item>
                                        </el-form>
                                        <el-form ref="form" size="mini" label-width="30px">
                                            <el-form-item>
                                                <el-button @click="enterRoom" v-text="'进入房间'" :disabled="inroom"></el-button>
                                                <el-button @click="exitRoom" v-text="'退出房间'" :disabled="!inroom"></el-button>
                                            </el-form-item>
                                        </el-form>
                                        <el-button type="text" @click="openSettingDialog = true" v-text="'设置'"></el-button>
                                        <el-button type="text" @click="openDeviceDialog = true" v-text="'设备选择&测试'"></el-button>
                                    </el-card>
        
                                    <el-card shadow="never">
                                        <el-form ref="form" size="mini">
                                            <el-form-item label="填充模式">
                                                <el-radio v-model="videoFillMode" :label="0" :disabled="!inroom"
                                                    @change="onVideoFillMode">充满</el-radio>
                                                <el-radio v-model="videoFillMode" :label="1" :disabled="!inroom"
                                                    @change="onVideoFillMode">适应</el-radio>
                                            </el-form-item>
                                        </el-form>
                                        <el-form :inline="true" ref="form" size="mini">
                                            <el-form-item>
                                                <el-checkbox @change="onMuteLocalVideo" v-model.boolean="muteLocalVideo"
                                                    :disabled="!inroom">屏蔽视频
                                                </el-checkbox>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-checkbox @change="onMuteLocalAudio" v-model.boolean="muteLocalAudio"
                                                    :disabled="!inroom">屏蔽音频
                                                </el-checkbox>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-checkbox @change="onOpenLocalMirror" v-model.boolean="localMirror"
                                                    :disabled="!inroom">本地镜像
                                                </el-checkbox>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-checkbox @change="onOpenEncoderMirror" v-model.boolean="encoderMirror"
                                                    :disabled="!inroom">编码镜像
                                                </el-checkbox>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-checkbox @change="onShowVoiceVolume" v-model.boolean="showVoice"
                                                    :disabled="!inroom">音量提示
                                                </el-checkbox>
                                            </el-form-item>
                                        </el-form>
                                        <el-form :inline="true" ref="form" size="mini">
                                            <el-form-item>
                                                <el-checkbox @change="onStartScreenCapture" v-model.boolean="screenCapture"
                                                    :disabled="!inroom">屏幕分享
                                                </el-checkbox>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-select style="width: 130px" @change="onSelectScreenCapture"
                                                    v-model="screenName" placeholder="请选择" size="mini"
                                                    :disabled="!screenCapture">
                                                    <el-option v-for="item in screenList" :key="item.sourceId"
                                                        :label="item.sourceName" :value="item.sourceId">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-form>
                                        <el-form :inline="true" ref="form" size="mini">
                                                <el-form-item>
                                                  <el-select style="width: 60px" v-model="screenLay" placeholder="横屏/竖屏"
                                                    size="mini" >
                                                    <el-option v-for="item in screenLayList" :key="item.id" :label="item.name"
                                                    :value="item.id">
                                                  </el-option>
                                                  </el-select>
                                                </el-form-item>
                                                <el-form-item>
                                                  <el-select style="width: 60px" v-model="screenCaptureEncoder" placeholder="分辨率"
                                                    size="mini" >
                                                    <el-option v-for="item in screenCaptureEncoderList" :key="item.id" :label="item.name"
                                                      :value="item.id">
                                                    </el-option>
                                                  </el-select>
                                                </el-form-item>
                                              </el-form>
                                        <el-form :inline="true" ref="form" size="small">
                                            <el-form-item>
                                                <el-button @click="openConnectDialog = true" v-text="'跨房通话'"
                                                    :disabled="!inroom"></el-button>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-button @click="openBeautyDialog = true" v-text="'美颜设置'" :disabled="!inroom">
                                                </el-button>
                                            </el-form-item>
                                        </el-form>
                                        <el-form :inline="true" ref="form" size="mini">
                                            <el-form-item>
                                                <el-checkbox @change="onMixTransCoding" v-model.boolean="mixTranscoding"
                                                    :disabled="!inroom">云端画面混合
                                                </el-checkbox>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-button size="small" type="text" @click="sharePlayUrl" v-text="'分享播放地址'"
                                                    :disabled="!inroom">
                                                </el-button>
                                            </el-form-item>
                                        </el-form>
                                    </el-card>
                            </el-menu>
                            

                            <el-dialog title="设置" :visible.sync="openSettingDialog" width="300px">
                                <el-form ref="form" size="mini" label-width="80px">
                                    <el-form-item label="分辨率">
                                        <el-select @change="onVideoEncoderChanged" v-model="videoResolution"
                                            placeholder="请选择" size="mini">
                                            <el-option v-for="item in videoResolutionList" :key="item.type"
                                                :label="item.name" :value="item.type">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="帧率">
                                        <el-select @change="onVideoEncoderChanged" v-model="videoFps" placeholder="请选择"
                                            size="mini">
                                            <el-option v-for="item in videoFpsList" :key="item.type" :label="item.name"
                                                :value="item.type">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="码率">
                                        <el-slider @change="onVideoEncoderChanged" v-model="videoBitrate" :max="1500"
                                            :min="200" input-size="mini">
                                        </el-slider>
                                    </el-form-item>
                                    <el-form-item label="画质偏好">
                                        <el-select @change="onVideoQosChanged" v-model="qosPreference" placeholder="请选择"
                                            size="mini">
                                            <el-option v-for="item in qosPreferenceList" :key="item.type"
                                                :label="item.name" :value="item.type">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="流控方案">
                                        <el-select @change="onVideoQosChanged" v-model="qosControlMode"
                                            placeholder="请选择" size="mini">
                                            <el-option v-for="item in qosControlModeList" :key="item.type"
                                                :label="item.name" :value="item.type">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="应用场景">
                                        <el-select v-model="appScene" placeholder="请选择" size="mini">
                                            <el-option v-for="item in appSceneList" :key="item.type" :label="item.name"
                                                :value="item.type">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="画面方向">
                                        <el-select @change="onVideoEncoderChanged" v-model="videoResolutionMode"
                                            placeholder="请选择" size="mini">
                                            <el-option v-for="item in videoResolutionModeList" :key="item.type"
                                                :label="item.name" :value="item.type">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-form>
                                <el-form :inline="true" ref="form" size="mini">
                                    <el-form-item>
                                        <el-checkbox @change="onPushSmallVideo" v-model.boolean="pushSmallVideo">开启双路编码
                                        </el-checkbox>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-checkbox @change="onPlaySmallVideo" v-model.boolean="playSmallVideo">默认观看低清
                                        </el-checkbox>
                                    </el-form-item>
                                </el-form>
                            </el-dialog>

                            <el-dialog title="设备" :visible.sync="openDeviceDialog" width="400px">
                                <el-form ref="form" size="mini" label-width="80px">
                                    <el-form-item label="麦克风">
                                        <el-select @change="onMicDeviceSelect" v-model="micDeviceName" placeholder="请选择"
                                            size="mini">
                                            <el-option v-for="item in micList" :key="item.deviceId"
                                                :label="item.deviceName" :value="item.deviceId">
                                            </el-option>
                                        </el-select>
                                        <el-switch @change="onTestMicChanged" v-model="testMic" active-text="测试">
                                        </el-switch>
                                        <el-progress class="el-progress-device" :percentage="testMicVolume"
                                            :show-text="false"></el-progress>
                                    </el-form-item>
                                    <el-form-item label="音量">
                                        <el-slider @change="onMicVolumeChanged" v-model="micVolume" :max="100" :min="0"
                                            input-size="mini">
                                        </el-slider>
                                    </el-form-item>

                                    <el-form-item label="扬声器">
                                        <el-select @change="onSpeakerDeviceSelect" v-model="speakerDeviceName"
                                            placeholder="请选择" size="mini">
                                            <el-option v-for="item in speakerList" :key="item.deviceId"
                                                :label="item.deviceName" :value="item.deviceId">
                                            </el-option>
                                        </el-select>
                                        <el-switch @change="onTestSpeakerChanged" v-model="testSpeaker"
                                            active-text="测试">
                                        </el-switch>
                                        <el-progress class="el-progress-device" :percentage="testSpeakerVolume"
                                            :show-text="false"></el-progress>
                                    </el-form-item>
                                    <el-form-item label="音量">
                                        <el-slider @change="onSpeakerVolumeChanged" v-model="speakerVolume" :max="100"
                                            :min="0" input-size="mini">
                                        </el-slider>
                                    </el-form-item>
                                </el-form>
                                <el-form ref="form" size="mini" label-width="80px">
                                    <el-form-item label="BGM 测试">
                                        <el-switch @change="onTestBGMChanged" v-model="testBGM" active-text="启动"
                                            inactive-text="停止">
                                        </el-switch>
                                    </el-form-item>
                                </el-form>
                                <el-form ref="form" size="mini" label-width="80px">
                                    <el-form-item label="摄像头">
                                        <el-select @change="onCameraDeviceSelect" v-model="cameraDeviceName"
                                            placeholder="请选择" size="mini">
                                            <el-option v-for="item in cameraList" :key="item.deviceId"
                                                :label="item.deviceName" :value="item.deviceId">
                                            </el-option>
                                        </el-select>
                                        <el-switch @change="onTestCameraChanged" v-model="testCamera" active-text="测试">
                                        </el-switch>
                                    </el-form-item>
                                </el-form>
                                <el-form ref="form" size="mini" label-width="50px">
                                    <el-form-item>
                                        <div id="camera_device_video_wrap"></div>
                                    </el-form-item>
                                </el-form>
                            </el-dialog>

                            <el-dialog title="美颜" :visible.sync="openBeautyDialog" width="300px">
                                <el-form ref="form" size="mini">
                                    <el-form-item>
                                        <el-checkbox @change="onOpenBeauty" v-model.boolean="openBeauty">开启美颜
                                        </el-checkbox>
                                    </el-form-item>
                                    <el-form-item label="美颜风格">
                                        <el-radio v-model="beautyStyle" :label="0" :disabled="!openBeauty"
                                            @change="onOpenBeauty">光滑</el-radio>
                                        <el-radio v-model="beautyStyle" :label="1" :disabled="!openBeauty"
                                            @change="onOpenBeauty">自然</el-radio>
                                    </el-form-item>
                                    <el-form-item label="磨皮">
                                        <el-input-number v-model.number="beauty" @change="onOpenBeauty" :min="0"
                                            :max="10" label="磨皮" size="small" :disabled="!openBeauty">
                                        </el-input-number>
                                    </el-form-item>
                                    <el-form-item label="美白">
                                        <el-input-number v-model.number="white" @change="onOpenBeauty" :min="0"
                                            :max="10" label="美白" size="small" :disabled="!openBeauty">
                                        </el-input-number>
                                    </el-form-item>
                                </el-form>
                            </el-dialog>

                            <el-dialog title="跨房通话" :visible.sync="openConnectDialog" width="300px">
                                <div v-loading="connectLoading" :element-loading-text="connectLoadingText">
                                    <el-form ref="form" size="small" label-width="80px">
                                        <el-form-item label="目标用户">
                                            <el-input id="pkUserId" v-model="pkUserId" placeholder="请输入用户名" clearable
                                                autofocus>
                                            </el-input>
                                        </el-form-item>

                                        <el-form-item label="目标房间">
                                            <el-input id="pkRoomId" v-model="pkRoomId" placeholder="请输入数字" maxlength="9"
                                                minlength="1" onkeyup="value=value.replace(/[^\d]/g,'')" clearable
                                                autofocus></el-input>
                                        </el-form-item>
                                    </el-form>
                                    <el-form ref="form" size="small" label-width="30px">
                                        <el-form-item>
                                            <el-button size="small" @click="connectRoom" v-text="'跨房连麦'"></el-button>
                                            <el-button size="small" @click="disconnectRoom" v-text="'结束连麦'"
                                                :disabled="!connected"></el-button>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </el-dialog>
                        </el-aside>
                                <el-main>
                                        <div class="control" id="video_wrap_camera"></div>
                                        <div class="control" id="video_wrap_screen"></div>
                                    </el-main>


                    </el-container>
                </div>


            </div>
        </div>






    </div>


</body>

<script>
    function launchIntoFullscreen(element) {
        if (element.requestFullscreen) {
            element.requestFullscreen();
        } else if (element.mozRequestFullScreen) {
            element.mozRequestFullScreen();
        } else if (element.webkitRequestFullscreen) {
            element.webkitRequestFullscreen();
        } else if (element.msRequestFullscreen) {
            element.msRequestFullscreen();
        }
    }
    $(document).on("dblclick", ".video_view_screen", function (e) {
        launchIntoFullscreen(e.currentTarget)
        // console.log($(e.currentTarget).css("width","100vh"))
        // console.log(11111111111)
        // if($(e.currentTarget).css('width') == '320px'){
        //     $(e.currentTarget).css('width','980px');
        //     $(e.currentTarget).css('height','720px');

        // }else{
        //     $(e.currentTarget).css('width','320px');
        //     $(e.currentTarget).css('height','240px');

        // }

        // $("#video_main").empty();
        // $("#video_main").append(e.currentTarget)
    });
    // $(document).on("click", ".video_view", function (e) {
    //     // launchIntoFullscreen(e.currentTarget)
    //     // console.log($(e.currentTarget).css("width","100vh"))
    //     // console.log(11111111111)
    //     if($(e.currentTarget).css('width') == '320px'){
    //         $(e.currentTarget).css('width','980px');
    //         $(e.currentTarget).css('height','720px');

    //     }else{
    //         $(e.currentTarget).css('width','320px');
    //         $(e.currentTarget).css('height','240px');

    //     }

    //     // $("#video_main").empty();
    //     // $("#video_main").append(e.currentTarget)
    // });
    // $(document).ready(function () {
    //     $(document).on("dbclick", ".video_view_screen", function () {
    //         concole.log(11111)
    //     });
    // });
    // $(".video_view").bind('dbclick', function () {
    //     concole.log(11111)
    // })
    // var video_wrap = document.getElementById("video_wrap");
    // video_wrap.addEventListener('dbclick', function (e) {
    //     if (e.target && e.target.nodeName.toUpperCase() === 'LI') {
    //         console.log(e.target.innerHTML)
    //     }
    // })

    // function setMainVideoDiv(obj) {
    //     let mainDiv = document.getElementById("video_main");
    //     // mainDiv.removeChild(obj);
    //     mainDiv.appendChild(obj);
    // }
    // const TRTCCloud = require('trtc-electron-sdk');
    // this.rtcCloud = new TRTCCloud();
    // 获取 SDK 版本号
    // this.rtcCloud.getSDKVersion();

    // console.log(this.rtcCloud.getSDKVersion());
    // var noble = require('noble');
    // noble.startScanning(); 
    function getHeartRateService() {
        let chosenHeartRateService = null;

        navigator.bluetooth.requestDevice({
                filters: [{
                        services: ['battery_service']
                    },
                    {
                        services: [0x1802, 0x1803]
                    },
                    {
                        name: $("#bluetoothName").val()
                    },
                ]
            }).then(device => device.gatt.connect())
            .then(server => server.getPrimaryService('heart_rate'))
            .then(service => {
                chosenHeartRateService = service;
                return Promise.all([
                    service.getCharacteristic('body_sensor_location')
                    .then(handleBodySensorLocationCharacteristic),
                    service.getCharacteristic('heart_rate_measurement')
                    .then(handleHeartRateMeasurementCharacteristic),
                ]);
            });
    }


    function handleBodySensorLocationCharacteristic(characteristic) {
        console.log(characteristic);
        if (characteristic === null) {
            console.log("Unknown sensor location.");
            return Promise.resolve();
        }
        return characteristic.readValue()
            .then(sensorLocationData => {
                const sensorLocation = sensorLocationData.getUint8(0);
                switch (sensorLocation) {
                    case 0:
                        return 'Other';
                    case 1:
                        return 'Chest';
                    case 2:
                        return 'Wrist';
                    case 3:
                        return 'Finger';
                    case 4:
                        return 'Hand';
                    case 5:
                        return 'Ear Lobe';
                    case 6:
                        return 'Foot';
                    default:
                        return 'Unknown';
                }
            }).then(location => console.log(location));
    }

    function handleHeartRateMeasurementCharacteristic(characteristic) {
        console.log(characteristic);
        return characteristic.startNotifications()
            .then(char => {
                characteristic.addEventListener('characteristicvaluechanged',
                    onHeartRateChanged);
            });
    }

    function onHeartRateChanged(event) {
        const characteristic = event.target;
        console.log(parseHeartRate(characteristic.value));
    }





    function getHeartRate() {
        console.log('Requesting Bluetooth Device to get heart rate data...');
        navigator.bluetooth.requestDevice({
                filters: [{
                        services: ['battery_service']
                    },
                    {
                        services: [0x1802, 0x1803]
                    },
                    {
                        name: $("#bluetoothName").val()
                    },
                ]
            }).then(device => {
                console.log('Got device: ', device.name);
                console.log('id: ', device.id);
                return device.gatt.connect();
            })
            .then(server => {
                console.log('Getting Heart Rate Service…');
                return server.getPrimaryService('heart_rate');
            })
            .then(service => {
                console.log('Getting Heart Rate Control Point Characteristic…');
                return service.getCharacteristic('heart_rate_control_point');
            })
            .then(characteristic => {
                console.log('Reading Heart Rate Control Point…');
                return characteristic.readValue();
            })
            .then(value => {
                value = value.buffer ? value : new DataView(value);
                console.log('Heart Rate Control Point: ', value.getUint16());
            })
            .catch(exception => {
                console.log(exception.name + ":" + exception.message);
            });
    }

    function getAllBluetoothDevices() {
        let options = {
            filters: [{
                    services: ['battery_service']
                },
                {
                    services: [0x1802, 0x1803]
                },
                {
                    name: $("#bluetoothName").val()
                },
            ]
        };
        // options.acceptAllDevices = true;
        $("#bluetoothInfo").text("正在建立连接...")
        console.log('Requesting Bluetooth Device...');
        console.log('with ' + JSON.stringify(options));
        navigator.bluetooth.requestDevice(options)
            .then(device => {
                console.log('> Name:             ' + device.name);
                console.log('> Id:               ' + device.id);
                console.log('> Initially, connected?        ' + device.gatt.connected);

                return device.gatt.connect();
                $("#bluetoothInfo").text("已连接到[" + device.name + "]")
            })
            .catch(error => {
                console.log('Argh! ' + error);
                $("#bluetoothInfo").text(error)
            });
    }

    function changeTab(obj) {
        $(".is-toggle").find("li").each(function (index, o) {
            $(o).attr("class", "");
        });
        $(obj).attr("class", "is-active");
        var id = $(obj).attr("id");
        $("#ipListDiv").find(".ip_div").each(function (index, o) {
            if (id == index) {
                $(o).show();
            } else {
                $(o).hide();
            }
        });
    }

    function changeCommuncateType(obj) {
        $(".is-boxed").find("li").each(function (index, o) {
            $(o).attr("class", "");
        });
        $(obj).attr("class", "is-active");
        var id = $(obj).attr("data-id");
        $("#communcateTypeDiv").find(".communcate_div").each(function (index, o) {
            if (id == index) {
                $(o).show();
            } else {
                $(o).hide();
            }
        });
    }
    // console.log(config_info.url)
    function addChatIpHistory(nickName, ip) {
        var had = false;
        $("#chatIpHistory").find("a").each(function () {
            if ($(this).attr("data") == ip) {
                had = true;
                return false;
            }
        });
        if (!had) {
            var a = '<a class="panel-block" title="双击" ondblclick="mixInput(this)" nick-name="' + nickName + '"data="' +
                ip +
                '"><span class="panel-icon">' +
                '<i class="fa fa-desktop"></i></span>' +
                nickName + " : " + ip + '</a>';
            $("#chatIpHistory").append(a);
        }

    }

    function mixInput(obj) {
        $("#ip").val($(obj).attr("data"));
        $("#ip").attr("nick-name", $(obj).attr("nick-name"));
    }

    var timeout = 10000;
    var listenChatPort = 6001;
    var fileport = 6000;
    var os = require('os');
    var path = require('path')
    var receiveDirPath = __dirname + path.sep + "receive" + path.sep
    if (os.type == 'Darwin') {
        receiveDirPath = '/tmp/FileTransferEasy_receive/'

    }
    var fs = require('fs')
    fs.exists(receiveDirPath, function (exists) {
        if (!exists) {
            //2. fs.mkdir  创建目录
            fs.mkdir(receiveDirPath, function (error) {
                if (error) {
                    console.log(error);
                    return false;
                }
                console.log('创建目录成功');
            })
        }
    })
    var net = require('net');
    var server = net.createServer();
    server.listen(fileport, "0.0.0.0");
    server.on('connection', function (sock) {

        console.log('CONNECTED: ' +
            sock.remoteAddress + ':' + sock.remotePort);
        // 处理业务
        // 为这个socket实例添加一个"data"事件处理函数
        sock.on('data', function (data) {

            //            console.log('DATA ' + sock.remoteAddress + ': ' + data);
            // 回发该数据，客户端将收到来自服务端的数据
            receiveFile(sock, data);
        });

        // 为这个socket实例添加一个"close"事件处理函数
        sock.on('close', function (data) {
            console.log('CLOSED: ' +
                sock.remoteAddress + ' ' + sock.remotePort);
        });
        // 为这个socket实例添加一个"close"事件处理函数
        sock.on('timeout', function (data) {
            toastr.error("连接" + sock.remoteAddress + "失败");

        });
    });
    server.on('error', function (err) {
        let options = {
            closeButton: true,
            debug: false,
            timeOut: "3000", //3s后关闭消息框
            positionClass: "toast-bottom-center",
            onclick: function () {
                ipcRenderer.send('closeBroswerWin', "fd");
            },

        }
        toastr.options = options
        if (err.code == '"EADDRINUSE"') {
            toastr.error("程序已经在运行");
            setTimeout(function () {
                ipcRenderer.send('closeBroswerWin', "fd");
            }, 3000)
        } else {

            toastr.error("服务创建失败，可能无法通信");

        }


    })

    var chatServer = net.createServer();
    chatServer.listen(listenChatPort, "0.0.0.0");
    chatServer.on('connection', function (sock) {

        var ip = sock.remoteAddress;
        console.log('CONNECTED: ' +
            sock.remoteAddress + ':' + sock.remotePort);
        // 处理业务
        // 为这个socket实例添加一个"data"事件处理函数
        sock.on('data', function (data) {
            if (data.toString() == "open chat") {
                console.log("收到聊天请求");
                ipcRenderer.send('openChatWindow', encodeURI("storage/chat.html?ip=" + ip +
                    "&msg=" + data.toString()));


            } else {
                var transferData = new Object();
                transferData.ip = ip;
                transferData.type = 0;
                transferData.data = data.toString()
                ipcRenderer.send('receiveMessage', transferData);
            }

        });
        // 为这个socket实例添加一个"close"事件处理函数
        sock.on('close', function (data) {
            console.log('CLOSED: ' +
                sock.remoteAddress + ' ' + sock.remotePort);
        });

        sock.on('timeout', function (data) {
            toastr.error("连接" + sock.remoteAddress + "失败");

        });
    });
    chatServer.on('error', function (err) {
        // toastr.warning("程序已经在运行",function(){
        // ipcRenderer.send('closeBroswerWin', "fd");

        // });
    })

    function testConnect() {
        var net = require('net');
        var HOST = $("#ip").val();
        var PORT = fileport;
        if (HOST == $("#localIP").text() || HOST == "") {
            toastr.warning("不可连接本机");

        } else {
            var client = new net.Socket();
            client.connect(PORT, HOST, function () {
                toastr.success("连接成功");
                client.end();

            });
            client.on('error', function () {
                toastr.error("连接失败");
                client.destroy();
            });
        }


    }


    function openChatWindow() {
        var HOST = $("#ip").val();
        var nickName = $("#ip").attr("nick-name");
        var PORT = listenChatPort;

        if (HOST == $("#localIP").text() || HOST == "") {
            toastr.warning("不可连接本机");

        } else {
            var client = new net.Socket();

            client.connect(PORT, HOST, function () {
                client.write("open chat");
                ipcRenderer.send('openChatWindow', "storage/chat.html?ip=" + HOST);
                addChatIpHistory(nickName, HOST);
                client.end();
            });
            client.on('error', function () {

            });
        }

    }

    function openDir() {

        var exec = require('child_process').exec;
        if (os.type == 'Darwin') {
            exec("open " + receiveDirPath);

        } else if (os.type == 'Windows_NT') {
            exec("explorer.exe " + receiveDirPath);

        }
    }

    function getLocalIP() {
        var interfaces = require('os').networkInterfaces();
        for (var devName in interfaces) {
            var iface = interfaces[devName];
            for (var i = 0; i < iface.length; i++) {
                var alias = iface[i];
                if (alias.family === 'IPv4' && alias.address !== '127.0.0.1' && !alias.internal) {
                    return alias.address;
                }
            }
        }

    }

    const ip = getLocalIP();
    $("#localIP").html(ip);


    var receiveFileSize = 0;

    function receiveFile(socket, data) {
        console.log(data.length)
        if (!socket.file_info) { //将文件信息绑定到当前socket，便于后续访问
            socket.file_info = JSON.parse(data).fileInfo;
            socket.hasSend = 0; //已经发送进来的大小
            socket.hasWrite = 0; //已经写入的大小
            socket.buf = ''; //buffer存储对象
            receiveFileSize = socket.file_info.fileSize;
            socket.fd = fs.openSync(receiveDirPath + socket.file_info.fileName, 'w+'); //文件标识ID
            socket.write('set file info'); //反馈
        } else {
            socket.buf += data;
            socket.hasSend = socket.hasSend + data.length;
            ipcRenderer.send('asynchronous-message', socket.hasSend / receiveFileSize);
            while (socket.buf.length >= 2048) { //开始重新拼接分块写入，十六进制下字符的大小为之前的二倍
                var pack = socket.buf.slice(0, 2048);
                socket.buf = socket.buf.slice(2048);
                pack = Buffer.from(pack, 'hex');
                fs.appendFileSync(socket.fd, pack);
            }

            // console.log(socket.hasSend,
            //     parseInt(socket.hasSend / 2 / socket.file_info.fileSize * 100) + '%');
            if (socket.hasSend >= socket.file_info.fileSize * 2) { //传输即将完毕，重置
                var obj = new Object();
                obj.data = "发来新文件：" + socket.file_info.fileName;
                obj.remoteAddress = socket.remoteAddress;
                obj.type = socket.file_info.type;
                obj.path = receiveDirPath + socket.file_info.fileName;
                var buf = Buffer.from(socket.buf, 'hex');
                fs.appendFileSync(socket.fd, buf);
                fs.closeSync(socket.fd);
                socket.write('file transfer completed');
                socket.file_info = null;

                if (obj.type == 0) {
                    ipcRenderer.send('receive_new_file', obj);
                    var myNotification = new Notification('EasyTransfer', {
                        body: '收到新文件,点击打开目录'
                    })
                    myNotification.onclick = () => {
                        openDir()
                    }
                } else if (obj.type == 1) {
                    var transferData = new Object();
                    transferData.ip = socket.remoteAddress;
                    transferData.data = obj.path;
                    transferData.type = obj.type;
                    ipcRenderer.send('receiveMessage', transferData);
                }


            } else {
                socket.write(data.length + "");
            }
        }


    }
</script>
<script src="../libs/vue.js"></script>
<script>
    Vue.config.productionTip = false
</script>
<!-- 引入组件库 -->
<script src="../libs/thirdpart/elementui/index.js"></script>
<script src="../libs/lib-generate-test-usersig.min.js"></script>
<script src="../js/GenerateTestUserSig.js"></script>
<script src="../js/demo.js"></script>

</html>